.MuiTypography-body1 {
    cursor: pointer;
}
span.jss10 {
    width: 80%;
    padding-left: 54px;
    position: relative;
    top: -17px;
}

.postsWrapper .makeStyles-inline-10 {
    width: 86%;
    padding-left: 58px;
    position: relative;
    top: -15px;
}
.postsListItemLink:hover {
    color: #ff5722;
    text-decoration: underline;
}   
.MuiListItemText-root {
    width: 80%;
}

@media (max-width: 768px) {
    .makeStyles-postsParnetBlock-11, .postsWrapper  {
        flex-flow: row wrap;
    }
    div.makeStyles-chartsBlock-18, div.jss18 {
        width: 100%;
    }
    div.makeStyles-postsBlock-17, div.jss17 {
        width: 100%;
    }
    section.chart-section {
        position: relative;
        right: 0px;
        width: 100%;
    }
    .postsWrapper span.makeStyles-inline-10, .postsWrapper .MuiTypography-body2 {        
        top:0px;
    }
}

@media (max-width: 480px) {
    div.sqaureBoxThumb {
        display: none;
    }
    div.MuiTablePagination-selectRoot {
        margin-left: 0px;
        margin-right: 0px;
    }
    div.MuiTablePagination-toolbar {
        left: -10px;
    }
    div.MuiTablePagination-actions {
        margin-left: 0px;
    }
    .postsWrapper span.makeStyles-inline-10, .postsWrapper .MuiTypography-body2 {
        padding-left: 0px;
        width: 100%;
        top:0px;
    }
    .MuiListItemText-root {
        width: 100%;
    }
    
}