body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* --- override material design css start --- */

header.MuiAppBar-positionFixed {
  background-color: #f60;
}

.makeStyles-drawerPaper-6 {
  background-image: linear-gradient(#dfdfdf,#ffffff);
}

/* --- override material design css end --- */

/* --- common style start --- */
a {
  color:  #f60;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

div.MuiTablePagination-toolbar {
  min-height: 45px;
  padding-right: 2px;
  justify-content: center;
  position: fixed;
  bottom: 0;
  background: #fafafa;
  width: 100%;
  right: 3px;
}
div.makeStyles-toolbar-5, div.jss5 {
  min-height: 35px;
}

/* --- common style end --- */